@import "tailwindcss";

@keyframes moveClouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.cloud-background {
  background-image: url("/clouds.png");
  background-repeat: repeat-x;
  background-size: cover;
  animation: moveClouds 80s linear infinite;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
